{% extends "base.html" %}
{% load static %}

{% block title %}{{ company.name }} - Calendario{% endblock %}
{% block icon %}
    <link rel="icon" href="{{ company.logo_small.url }}">
{% endblock %}

{% block content %}
<main class="flex flex-col bg-bg h-5/6 shadow-2xl">
    <!-- Encabezado -->
    <header class="bg-bg shadow-md p-4">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold primary-dark-color flex flex-col items-start">
                Calendario de citas
                <div class="text-center font-bold text-xl py-2">
                    <span id="month">Enero</span>- <span id="year">2000</span> 
                </div>
            </h1>
            <button id="addEventBtn" class="p-2  primary-bg bg-color rounded-lg  flex items-center justify-evenly gap-1 text-sm focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50 ">
                <i class="fi fi-rr-plus"></i>
                Agendar cita
            </button>
        </div>
        <hr class="primary-border border mt-2">
    </header>

    <!-- Contenido principal -->
    <main class="flex-grow overflow-y-scroll scroll-hide">
        <div id="calendar" class="grid grid-cols-4 gap-1 bg-bg p-4 pt-0" >
            <!-- firsts rows -->
            <div class="sticky top-0 bg-bg z-10">
                <div class="flex justify-evenly items-center py-1">
                    <button id="prevDaysBtn" class="py-1 px-2 primary-bg bg-color rounded-lg hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50 active:bg-primary-dark active:ring-2 active:ring-primary active:ring-opacity-50" title="Previos 3 días">
                        <i class="fi fi-rr-angle-left"></i>
                    </button>
                    <button id="nextDaysBtn" class="py-1 px-2 primary-bg bg-color rounded-lg hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50 active:bg-primary-dark active:ring-2 active:ring-primary active:ring-opacity-50" title="Próximos 3 días">
                        <i class="fi fi-rr-angle-right"></i>
                    </button>
                </div>
            </div>
            <div id="headerDay1"  class="sticky top-0 bg-bg z-10 text-center font-semibold primary-light-border border flex flex-col items-center gap-1 py-2">
                <span class="weekDay">lun</span>
                <span class="day p-1 rounded-full">1</span>
            </div>
            <div id="headerDay2"  class="sticky top-0 bg-bg z-10 text-center font-semibold primary-light-border border flex flex-col items-center gap-1 py-2">
                <span class="weekDay">lun</span>
                <span class="day p-1 rounded-full">1</span>
            </div>
            <div id="headerDay3"  class="sticky top-0 bg-bg z-10 text-center font-semibold primary-light-border border flex flex-col items-center gap-1 py-2">
                <span class="weekDay">lun</span>
                <span class="day p-1 rounded-full">1</span>
            </div>
            
            <!-- hours row -->
            {% for i in "------------------------"|slice:":24" %}
                <div class="text-right pr-2 h-16 flex justify-center items-start  ">{{ forloop.counter0 }}:00</div>

                {% for i in "---"|slice:":3" %}
                    <div id="day{{ forloop.counter }}Hour{{ forloop.parentloop.counter0 }}" 
                    class=" transform p-1 flex flex-col gap-1
                    
                    hourBox "></div>
                {% endfor %}

                <hr class="primary-border border col-span-4 opacity-5">
            {% endfor %}

            {% comment %} templates for the mini boxes {% endcomment %}
            <template id="miniHourBox">
                <div class="primary-border border flex-1 hover:scale-105 transition-all transform ">
                </div>
            </template>
            <template id="miniHourBoxBusy">
                <div class="primary-bg bg-color secondary-border border flex-1 hover:scale-105 transition-all transform grid place-content-center h-4 text-xs">
                    busy
                </div>
            </template>

        </div>
    </main>
</main>

<!-- Modal para agregar evento -->
<dialog id="eventModal" class="secondary-light-bg text-color p-8 rounded-lg shadow-xl  z-30 overflow-y-auto inset-0 w-full">
    <h2 class="text-2xl font-bold mb-4">Agregar Evento</h2>
    <form id="appointmentEditor">
        <input type="hidden" id="eventId" name="event_id">
        <div class="mb-4">
            <label for="fullName" class="block text-sm font-bold mb-2">Nombre Completo</label>
            <input type="text" id="fullName" name="full_name" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-bold mb-2">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="phoneNumber" class="block text-sm font-bold mb-2">Número de Teléfono</label>
            <input type="text" id="phoneNumber" name="phone_number" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="startDatetime" class="block text-sm font-bold mb-2">Fecha y Hora de Inicio</label>
            <input type="datetime-local" id="startDatetime" name="start_datetime" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="endDatetime" class="block text-sm font-bold mb-2">Fecha y Hora de Fin</label>
            <input type="datetime-local" id="endDatetime" name="end_datetime" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="message" class="block text-sm font-bold mb-2">Mensaje</label>
            <textarea id="message" name="message" class="text-bg bg-bg shadow-md appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="primary-bg bg-color hover:bg-primary-dark text-bg font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar</button>
            <button type="button" id="closeModalBtn" class=" text-color border text-border font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancelar</button>
        </div>
    </form>
</dialog>
<div class="modalBackdrop"></div>








{{calendar_config|json_script:"calendar_config"}}
{{appointments|json_script:"appointments"}}

<script type="module" src="{% static "js/helpers.js" %}"></script>
<script type="module" src="{% static "js/calendar.js" %}"></script>
{% endblock content %}
