{% extends "base.html" %}
{% load static %}

{% block title %}{{ company.name }} - Contacto{% endblock %}
{% block icon %}
    <link rel="icon" href="{{ company.logo_small.url }}">
{% endblock %}

{% block content %}
<main class="flex flex-col flex-1">
    <!-- Sección Contacto -->
    <section class="py-36 bg-bg">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-6 text-center ">Contacto</h2>
            {% include "../contact_form.html" %}
        </div>
    </section>
</main>
{% endblock content %}