{% extends "base.html" %}
{% load static %}

{% block title %}{{ company.name }} - Contacto{% endblock %}
{% block icon %}
    <link rel="icon" href="{{ company.logo_small.url }}">
{% endblock %}

{% block content %}
<main class="flex flex-col flex-1">
    <!-- Sección Contacto -->
    <section class="py-36 bg-bg">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold mb-6 text-center text-color">Contacto</h2>
            {% include "../contact_form.html" %}
            
            <!-- Botón de WhatsApp Condicional -->
            {% if company.whatsapp_number and company.whatsapp_message %}
            <h1 class="text-3xl font-bold my-12 text-center text-color">ó</h1>
            <div class="flex justify-center mt-8 ">
                <a href="https://wa.me/{{ company.whatsapp_number }}?text={{ company.whatsapp_message }}" class="flex items-center  font-bold py-2 px-4 rounded-lg secondary-bg text-color">
                    <i class="fi fi-brands-whatsapp mr-2"></i> Contáctanos por WhatsApp
                </a>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}