{% extends "base.html" %}
{% load static %}

{% block title %}{{ company.name }} - Nosotros{% endblock %}
{% block icon %}
    <link rel="icon" href="{{ company.logo_small.url }}">
{% endblock %}

{% block content %}
<main class="flex flex-col flex-1 bg-bg relative gap-36 pt-7">
    <!-- Sección Nosotros -->
    <div class="absolute inset-0 h-full flex items-center overflow-hidden">
        <img src="{{ company.logo_large.url }}" alt="{{ company.name }}" class=" w-full box-border px-2 object-cover opacity-20">
    </div>
    <section class="">
        <div class="container mx-auto px-4 relative z-10">
            <h2 class="text-3xl font-bold mb-6 text-center primary-dark-color">Nosotros</h2>
            <p class="text-lg mb-8 text-center text-color max-w-screen-sm mx-auto">
                {{ company.company_description }}
            </p>
            <a href="/contacto" class="link block w-max mx-auto font-bold py-2 px-4 rounded transition duration-300 primary-dark-bg text-color">
                Contáctanos
            </a>
        </div>
    </section>
    <section class="relative pb-36">
        <div class="container mx-auto px-4 relative z-10">
            <h2 class="text-3xl font-bold mb-6 text-center primary-dark-color">Nuestro Producto</h2>
            <p class="text-lg mb-8 text-center text-color max-w-screen-sm mx-auto">
                {{ company.product_description }}
            </p>
            <a href="/catalogo" class="link w-max mx-auto font-bold py-2 px-4 rounded transition duration-300 primary-dark-bg text-color flex items-center justify-center">
                <span class="material-symbols-outlined text-color"> shopping_cart </span>
                Ver Catálogo
            </a>
        </div>
    </section>

</main>
{% endblock content %}