<div class="container mx-auto px-4 text-color">
    <form id="contactForm" class="max-w-lg mx-auto" method="post" action="contact-through-mail">
      {% csrf_token %}
      <div class="mb-4">
          <label for="nombre" class="block font-bold mb-2 text-color">Nombre</label>
          <input required type="text" id="nombre" name="nombre" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 bg-bg secondary-border">
      </div>
      <div class="mb-4">
          <label for="email" class="block font-bold mb-2 text-color">Email</label>
          <input required type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 bg-bg secondary-border">
      </div>
      <div class="mb-4">
          <label for="mensaje" class="block font-bold mb-2 text-color">Mensaje</label>
          <textarea required id="mensaje" name="mensaje" rows="4" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 bg-bg secondary-border"></textarea>
      </div>
      <button type="submit" class="w-full font-bold py-2 px-4 rounded transition duration-300 secondary-bg bg-color">
          Enviar Mensaje
      </button>
  </form>
</div>
