<!-- components/footer.html -->
<footer class="primary-dark-bg text-color">
    <div class="max-w-6xl mx-auto px-4 py-10">
        <div class="flex flex-wrap justify-between">
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold secondary-color">{{company.name}}</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <a href="#" class="hover:underline secondary-light-color">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold secondary-color">Contacto</h5>
                <ul class="mb-4">
                    <li class="mt-2">
                        <span class="secondary-light-color">Dirección: {{company.location}}</span>
                    </li>
                    <li class="mt-2">
                        <span class="secondary-light-color">Teléfono: {{company.whatsapp_number}}</span>
                    </li>
                    <li class="mt-2">
                        <span class="secondary-light-color">Email: {{ company.email }}</span>
                    </li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 text-center md:text-left">
                <h5 class="uppercase mb-6 font-bold secondary-color">Redes Sociales</h5>
                <ul class="mb-4">
                    {% if company.facebook %}
                    <li class="mt-2">
                        <a href="{{ company.facebook }}" class="hover:underline secondary-light-color">Facebook</a>
                    </li>
                    {% endif %}
                    {% if company.instagram %}
                    <li class="mt-2">
                        <a href="{{ company.instagram }}" class="hover:underline secondary-light-color">Instagram</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>